<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fpr_interfaces">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fpr_interfaces">
        <activity android:name=".DetalleServicioComprado"></activity>
        <activity android:name=".CargosAdicionales" />
        <activity android:name=".AumentarSaldo" />
        <activity android:name=".Registrar_terapeuta" />
        <activity android:name=".agregarterapia" />
        <activity android:name=".MostrarClientePrueba" />
        <activity android:name=".detalle" />
        <activity android:name=".pruebabuscador" />
        <activity android:name=".elegirTerapia" />
        <activity android:name=".EditarServicio" />
        <activity android:name=".PerfilTerapeuta" />
        <activity android:name=".Terapeuta" />
        <activity android:name=".Registro" />
        <activity android:name=".Cliente" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>